@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@500&display=swap");

@font-face {
    font-family: "Marck_Script";
    src: url("../fonts/MarckScript-Regular.woff2") format("woff2"),
        url("../fonts/MarckScript-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
