@import "null.css";
@import "fonts.css";
/* ======== Тело страницы ========*/
body {
    height: 100%;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(74, 86, 138, 1) 72%, rgba(0, 0, 0, 1) 100%);
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
}

.main_content {
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
}

/* ======== Шапка ========*/
.title {
    padding: 10px 0px 10px 0;
    background-color: #7481b9;
    margin: 20px 0;
    /* border-radius: 15px; */
    border-top: 3px solid #4a568a;
    border-bottom: 3px solid #4a568a;
    box-shadow: inset 3px 3px 50px 2px rgb(0, 0, 0);
    transition-duration: 1s;
}
.title:hover {
    background-color: #5b6592;
}

.title h1 {
    font-family: "Cormorant Infant", serif;
    font-size: 42px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

/* ======== Навигация ========*/

.navigation {
    margin: 0 auto 20px auto;
    width: 1000px;
    max-width: 100%;
}

.text_bold {
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
}

li > a {
    color: cornflowerblue;
    transition-duration: 1s;
}

.item-list a:hover {
    color: rgb(255, 255, 255);
}

.item-list a:active {
    color: rgb(226, 119, 19);
}

.item-list a:visited {
    color: rgb(88, 88, 88);
}

.list .list {
    padding: 0 0 0 50px;
    color: antiquewhite;
}

.item-list {
    background: url(../img/ico/next25.png) 0 3px no-repeat;
    padding: 0 0 0 35px;
    color: antiquewhite;
}

/* ======== Общие классы ========*/

a {
    color: cornflowerblue;
    transition-duration: 1s;
}

b {
    color: #000000;
    font-family: "Cormorant Infant", serif;
}

a:hover {
    color: rgb(0, 0, 0);
    /* font-weight: 500; */
}

.content__block {
    width: 1000px;
    max-width: 100%;
    border: 3px solid #4a568a;
    border-radius: 15px;
    margin: 0px auto 25px auto;
    padding: 20px 20px;
    box-shadow: 5px 5px 30px 2px;
    background-color: white;
}

h2 {
    font-family: "Marck_Script";
    font-size: 36px;
    text-align: center;
    color: #4a568a;
    font-weight: 700;
    padding: 10px 0px;
    transition-duration: 1s;
}

h2:after {
    content: "";
    display: block;
    width: 30%;
    height: 3px;
    background-color: #4a568a;
    margin: 0 auto;
    transition-duration: 1s;
}

h2:hover::after {
    content: "";
    display: block;
    width: 40%;
    height: 3px;
    background-color: #4a568a;
    margin: 0 auto;
}

h3 {
    color: #4a568a;
    padding: 10px 0;
    font-weight: 700;
}

.text {
    text-align: left;
    font-weight: 500;
}

p {
    padding: 5px 0px;
}

/* ======== Блоки с информацией ========*/

/* Спойлер 1 */
.section-1 .remove {
    display: none;
}

.section-1__link {
    display: block;
    font-size: 30px;
    font-weight: 700;
    transition-duration: 1s;
}
.section-1__link:hover {
    color: rgb(255, 255, 255);
}

.text__spoller {
    padding: 10px 0px 10px 50px;
    font-size: 30px;
    display: none;
    height: 100%;
}
/* Открытие 1 спойлера */
#spoller-1:target ~ .section-1 .text__spoller {
    display: block;
}

#spoller-1:target ~ .section-1 .remove {
    display: block;
}

/* Спойлер 2 */
.section-2 .remove {
    display: none;
}

.section-2__link {
    display: block;
    font-size: 30px;
    font-weight: 700;
    transition-duration: 1s;
}
.section-2__link:hover {
    color: #000;
}

.text__spoller {
    padding: 10px 0px 10px 50px;
    font-size: 30px;
    display: none;
    height: 100%;
}
/* Открытие 2 спойлера */
#spoller-2:target ~ .section-2 .text__spoller {
    display: block;
}

#spoller-2:target ~ .section-2 .remove {
    display: block;
}

/* Спойлер 3 */
.section-3 .remove {
    display: none;
}

.section-3__link {
    display: block;
    font-size: 30px;
    font-weight: 700;
    transition-duration: 1s;
}
.section-3__link:hover {
    color: #000;
}

.text__spoller {
    padding: 10px 0px 10px 50px;
    font-size: 30px;
    display: none;
    height: 100%;
}
/* Открытие 3 спойлера */
#spoller-3:target ~ .section-3 .text__spoller {
    display: block;
}

#spoller-3:target ~ .section-3 .remove {
    display: block;
}

/* 3 Блок с изображением */

.image__1 {
    /* background: url(../img/struktura.jpg) no-repeat center center; */
    max-width: 595px;
    height: 257px;
    display: block;
    margin: 10px auto;
    /* max-width: 100%; */
    box-shadow: 0px 20px 0px -10px #ffffff, 0px -20px 0px -10px #ffffff, 20px 0px 0px -10px #ffffff,
        -20px 0px 0px -10px #ffffff, 0px 0px 0px 10px cornflowerblue, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

/* ======== Footer блок ========*/

.back-to-navigation {
    font-size: 26px;
    text-align: right;
}

.back-to-navigation a {
    font-size: 26px;
    text-align: right;
    color: rgb(255, 255, 255);
}
.back-to-navigation a:hover {
    color: rgb(212, 149, 14);
}

.back-to-navigation_ico {
    position: fixed;
    bottom: 0;
    right: 0px;
    opacity: 0.7;
}

.footer {
    font-size: 16px;
    text-align: left;
    font-weight: 700;
    color: aliceblue;
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
    padding-bottom: 20px;
}
